<!-- <app-calculator></app-calculator> -->

<router-outlet></router-outlet>
<!-- <div class="align-button">
  <div>
    <button class="btn btn-success" routerLink="/login">Log In</button>
  </div>
  <div>
    <button class="btn btn-success" routerLink="/home">Home</button>
  </div>

  <div>
    <button class="btn btn-success" routerLink="/calculator">Calculator Page</button>
  </div>

  <div>
    <button class="btn btn-success" routerLink="/another-page">Another Page</button>
  </div>

  <div>
    <button class="btn btn-success" routerLink="/pratice">Pratice Page</button>
  </div>

</div> -->