<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>

<div class="card" style="width: 18rem;">
  <img src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">About Angular</h5>
    <p class="card-text">A component instance has a lifecycle that starts when Angular instantiates the component class and...</p>
    <a (click)="navigateToAngularLink()" class="btn btn-primary" >More About</a>
  
  </div>

</div>

{{ data | json}}